<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <h2 class="mb-5 font-sans text-3xl font-bold text-gray-900 sm:text-4xl">
            Websocket
            <span class="inline-block text-rose-500">Chat</span>
          </h2>
        <div id="room-id" style="display: none;">{{room_id}}</div>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off" class="w-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <button type="button" class="text-white bg-rose-500 dark:focus:ring-purple-800 font-lg rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Send</button>
        </form>
        <ul id='messages'>
        </ul>
    </body>
</html>